<!DOCTYPE HTML>
<html lang="pt-br" ng-app="groupUser">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" type="text/css" href="../css/initial.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/validation.js"></script>
    <script type="text/javascript">
        function deleteGroup(){
            if(confirm("Are you sure?")){
                alert('Group has been deleted');
                window.location.reload();
            }
        }
    </script>
</head>
<body id="box" ng-controller="groupUserCtrl">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Network</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="initial_page.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="friends_user.html"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
                <li><a href="photos_user.html"><span class="glyphicon glyphicon-camera"></span> Photos</a></li>
                <li><a href="groups_user.html"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span> Group</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-14">
                <div class="panel panel-default text-left">
                    <div class="panel-body">
                        <label>User's Groups</label><br>
                        <button data-toggle="modal" data-target="#myModal">Add Group</button><br><br>
                        <table class="table table-striped">
                            <tr>
                                <th>Group Name</th>
                                <th>Owner</th>
                                <th>Category</th>
                            </tr>
                            <tr ng-repeat="group in myData">
                                <td>{{group.groupName}}</td>
                                <td>{{group.owner}}</td>
                                <td>{{group.category}}</td>
                                <td><a href="updateGroup.html">Update</a></td>
                                <td><a href="#" onclick="deleteGroup()" ng-click="deleteGroup(group.id)">Delete</a></td>
                            </tr>
                        </table>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Group</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="../functions/insert_group.php">
                                            <div class="row">
                                                <div class="col-sm-12 form-group">
                                                    <label>Group Name:</label>
                                                    <input type="text" class="form-control" name="groupName" id="groupName" ng-model="groupName"/>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label>Owner:</label>
                                                    <input type="text" class="form-control" name="owner" id="owner" ng-model="owner"/>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label>Category:</label>
                                                    <input type="text" class="form-control" name="category" id="category" ng-model="category"/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <b>Copyright © All Rights Reserved, 2016</b>
</footer>
</body>
</html>